<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New timetable</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
	
	<!--  jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>

	<div class="container mt-5">
	  <div class="row">
	  
	    <div class="col-sm-4">
	    	<div class="footer">
				<p><a href="/university">Back to Homepage</a></p>
			</div>	    	
	    </div>
	    
	    <div class="col-sm-4">
 			<div class="input-group mb-3">
 				<h3>Creation of a new timetable</h3>	
				<form th:method="POST" th:action="@{/timetable}" th:object="${timetable}">
			        <div class="mb-3">
					    <label class="control-label" for="date">Date</label>
					    <input class="form-control" id="date" placeholder="YYYY-MM-DD" type="text"
					        th:field="*{date}"/>
					    </div>		    		    
				    
			        <div class="mb-3">
				        <label for="startLecture" class="form-label">Enter start of lecture: </label>
					    <input type="time" class="form-control" th:field="*{startLecture}" id="startLecture"
					    placeholder="hh:mm:ss"/>
				    </div>		    
			        <div class="mb-3">
				        <label for="endLecture" class="form-label">Enter end of lecture: </label>
					    <input type="time" class="form-control" th:field="*{endLecture}" id="endLecture"
					    placeholder="hh:mm:ss"/>
				    </div>
				    
			        <div class="mb-3">
				        <label for="location" class="form-label">Enter location: </label> 			    
		  			    <select class="form-control" id="listOfLocation" th:field="*{location}">
						    <option th:each="location : ${T(ua.foxminded.university.domain.timetable.Location).values()}" 
						    th:value="${location.displayValue}" th:text="${location.displayValue}" 
						    th:field="*{location}"></option>
						</select>			     
				    </div>
				    
			        <div class="mb-3">
				        <label for="listOfGroupId" class="form-label">Enter group ID: </label> 			    
		 			    <select class="form-control" id="listOfGroupId" name="groupId">
						    <option th:each="group : ${groups}" th:value="${group.groupId}" 
						    th:text="${group.groupId}" th:name="groupId"></option>
						</select>			     
				    </div>
				    
			        <div class="mb-3">
				        <label for="subject" class="form-label">Enter subject: </label>	    
						<select class="form-control" id="listOfLocation" th:field="*{subject}">
						    <option th:each="subject : ${T(ua.foxminded.university.domain.timetable.Subject).values()}" 
						    th:value="${subject.displayValue}" th:text="${subject.displayValue}" 
						    th:field="*{subject}"></option>
						</select>															     
				    </div>
				    
			        <div class="mb-3">
				        <label for="listOfTeacherId" class="form-label">Enter teacher ID: </label>
						 <select class="form-control" id="listOfTeacherId" name="teacherId">
						    <option th:each="teacher : ${teachers}" th:value="${teacher.teacherId}" 
						    th:text="${teacher.teacherId}" th:name="teacherId"></option>
						</select>									    			      
				    </div>		    		    		    		  		    
				    		    
				    <input type="submit" class="btn btn-primary" value="Create!"/>
				    <input type="reset" class="btn btn-primary" value="Reset" />
				</form>	
			</div>
 		</div> 		
	  </div>
    </div>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

</body>

</html>